@import url('./Global.css');

.about {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#facilities, #teachers, .about-title-and-blurb {
    color: var(--synergy-teal);
    padding: 5% 5% 20vh 5%;
}

.about-title-and-blurb p {
    font-size: 23px;
    line-height: 36px;
    font-style: italic;
    border-left: 2px solid var(--synergy-teal);
    padding-left: 30px;
    width: 55%;
}

#facilities img {
    width: 100%;
    display: block;
}

#facilities h2 {
    font-weight: 200;
    margin: 0;
}

#facilities p {
    font-size: 26px;
    line-height: 40px;
    margin: 4% 0;
    width: 100%;
}

.about-title-and-blurb h1 {
    font-size: 80px;
    line-height: 100px;
    font-weight: 500;
    margin-top: 70px;
}

#facilities h1, #teachers h1 {
    font-size: 80px;
    line-height: 90px;
    font-weight: 600;
    margin: 0;
}

#facilities .photos-1, #facilities .photos-3, #facilities .photos-4 {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
}

#facilities .photos-1-1, #facilities .photos-3-1, #facilities .photos-4-1 {
    width: 66%;
}

#facilities .photos-1-2, #facilities .photos-3-2, #facilities .photos-4-2 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#facilities .photos-1, #facilities .photos-2, #facilities .photos-4 {
    margin-top: 4%;
}

#teachers {
    margin-top: 170px;
    padding-bottom: 5%;
}

#teachers h2 {
    font-size: 26px;
    line-height: 40px;
    font-weight: 300;
    width: 100%;
}

#teachers h4 {
    font-size: 63px;
    line-height: 70px;
    margin: 200px 0 0 0;
}

#teachers .teacher {
    display: flex;
    padding-top: 4%;
    color: var(--synergy-purple);
}

#teachers .teacher img {
    width: 30%;
    max-width: 300px;
    height: fit-content;
    object-fit: cover;
    margin-right: 40px;
}

#teachers .teacher h3 {
    margin: 0;
    font-size: 36px;
}

#teachers .teacher p {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    max-width: 800px;
}

@media screen and (max-width: 800px) {
    .about-title-and-blurb {
        display: block;
    }
    
    .about-title-and-blurb p { 
        width: 100%;
        margin-left: 0;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 640px) {

    #facilities p, #teachers h2 {
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
    }

    #facilities .photos-3 {
        flex-direction: column;
    }

    #facilities .photos-4 {
        flex-direction: column-reverse;
    }

    #facilities .photos-3-1, #facilities .photos-4-1 {
        width: 100%;
        margin-bottom: 4%;
    }
    
    #facilities .photos-3-2, #facilities .photos-4-2 {
        width: 100%;
        flex-direction: row;
    }

    #facilities .photos-3-2 img, #facilities .photos-4-2 img {
        width: 48%;
    }

    #teachers .teacher {
        flex-direction: column;
    }
    
    #teachers .teacher img {
        width: 60%;
        max-width: 400px;
        margin-bottom: 20px;
    }

    .about-title-and-blurb h1 {
        font-size: 80px;
        line-height: 100px;
        font-weight: 500;
    }

    #facilities h1, #teachers h1 {
        font-size: 60px;
        line-height: 70px;
        font-weight: 500;
        margin: 0;
    }

    .about p {
        font-size: 20px;
        line-height: 36px;
    }

    #teachers .teacher h3 {
        margin: 20px 0;
        font-size: 36px;
    }
    
    #teachers .teacher p {
        font-size: 18px;
    }

    #teachers h4 {
        font-size: 50px;
        line-height: 65px;
        padding-bottom: 20px;
        border-bottom: 2px solid var(--synergy-teal);
        margin-bottom: 20px;
        margin-top: 150px;
    }
}