@import url('./Global.css');

.classes-at-synergy {
    height: fit-content;
}

.classes h1 {
    font-size: 110px;
    font-weight: 200;
    color: var(--synergy-teal);
    margin: 0;
}

.classes h3 {
    width: 100%;
    max-width: 800px;
    font-weight: 500;
    color: var(--synergy-teal);
    font-size: 24px;
    line-height: 38px;
    border-top: 2px solid var(--synergy-teal);
    padding-top: 30px;
}

.pathways-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.classes-pathway {
    width: 31%;
    height: 12vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#schedules .classes-pathway {
    width: 40%;
}

.classes-pathway a {
    text-decoration: none;
    color: var(--synergy-purple);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.classes-pathway h2 {
    margin: 0;
    font-family: articulat-heavy-cf;
    font-size: 4vw;
    transition: 200ms;
}

.classes-pathway p {
    margin: 0;
    font-size: 1.6vw;
}

.pathway-icon {
    width: 100%;
    height: 80%;
    opacity: 5%;
    position: absolute;
    z-index: -1;
    transition-duration: 200ms;
}

.classes-pathway a:hover {
    color: var(--synergy-coral)
}

.classes-pathway a:hover + .pathway-icon {
    height: 100%;
    opacity: 16%;
}

#schedules {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#schedules h1, #schedules h3 {
    text-align: right;
}

.schedules-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#registration h3 {
    width: 70%;
    min-width: 500px;
}

.registration-button-container .buttons {
    display: flex;
    width: 430px;
    justify-content: space-between;
}

.registration-button-container {
    margin-top: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 20px;
}

.registration-button-container a {
    box-sizing: border-box;
    display: block;
}

.registration-button-container p {
    border: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    color: var(--synergy-teal);
}

#registration a {
    text-decoration: none;
    border: none;
    padding: 12px 20px 8px 20px;
    background-color: var(--synergy-purple);
    border-radius: 15px;
    color: white;
    font-family: articulat-heavy-cf;
    width: fit-content;
    transition-duration: 200ms;
}

#registration a:hover {
    background-color: var(--synergy-coral);
}

.classes-descriptions, .class-description-container {
    width: 100%;
}

.class-description-container img {
    width: 35%;
    display: block;
}

.class-description-container .header {
    color: var(--synergy-purple);
    width: 100%;
    border-top: 2px solid var(--synergy-purple);
}

.class-description-container .header .blurb {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    height: fit-content;
}

.class-description-container .header img {
    width: 48%;
}

.class-description-container .header h2 {
    font-weight: 800;
    font-size: 50px;
    margin: 30px 0 20px 0;
}

.class-description-container .header p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    width: 48%;
    margin: 0;
}

.class-description-container .description {
    color: var(--synergy-coral);
    width: 100%;
    max-width: 850px;
    border-top: 2px solid var(--synergy-coral);
    padding-top: 30px;
    margin-bottom: 30px;
}

.class-description-container .title-and-age {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.class-description-container .title-and-age h3 {
    margin: 0;
    font-weight: 800;
    font-size: 30px;
}

.class-description-container .title-and-age h4 {
    margin: 0;
    font-weight: 800;
    font-size: 20px;
    min-width: fit-content;
}

.class-description-container .description p {
    font-size: 15px;
    line-height: 25px;
}

/** */
@media screen and (max-width: 1006px) {
    .pathways-container, .schedules-container {
        flex-direction: column;
        align-items: center;
    }

    .classes-pathway {
        width: 100%;
        height: fit-content;
        margin: 20px 0;
    }

    #schedules .classes-pathway {
        width: 100%;
    }

    .classes-pathway h2 {
        font-size: 10vw;
        text-align: center;
    }

    .classes-pathway p {
        font-size: 3vw;
        line-height: 3vw;
        text-align: center;
        width: 66%;
        margin: 10px auto 0 auto;
    }

    .classes .container {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 820px) {
    .registration-button-container .buttons {
        flex-direction: column;
        width: fit-content;
        align-items: center;
    }

    .registration-button-container a {
        margin-bottom: 30px;
    }
    
    .registration-button-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 720px) {
    .class-description-container .header .blurb {
        flex-direction: column;
    }
    
    .class-description-container .header img {
        width: 100%;
        margin-bottom: 30px;
    }
    
    .class-description-container .header p {
        width: 100%;
    }
}

/** MEDIUM SCREEN RESIZE **/
@media screen and (max-width: 640px) {
    .classes h1 {
        font-size: 18vw;
        overflow: wrap;
    }

    .classes h3 {
        font-size: 4vw;
        line-height: 6vw;
    }
}