@import url('./Global.css');

.classes-at-synergy {
    height: fit-content;
}

.classes h1 {
    min-width: 800px;
    font-size: 120px;
    font-weight: 200;
    color: var(--synergy-teal);
    margin: 0;
}

.classes h3 {
    width: 60%;
    min-width: 500px;
    max-width: 900px;
    font-weight: 500;
    color: var(--synergy-teal);
    font-size: 24px;
    line-height: 38px;
    border-top: 2px solid var(--synergy-teal);
    padding-top: 30px;
}

.pathways-container {
    display: flex;
    justify-content: space-evenly;
}

.classes-pathway {
    width: 30%;
    height: 12vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#schedules .classes-pathway {
    width: 40%;
}

.classes-pathway a {
    text-decoration: none;
    color: var(--synergy-purple);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.classes-pathway h2 {
    margin: 0;
    font-family: articulat-heavy-cf;
    font-size: 4vw;
    transition: 200ms;
}

.classes-pathway p {
    margin: 0;
    font-size: 1.6vw;
}

.pathway-icon {
    width: 100%;
    height: 80%;
    opacity: 5%;
    position: absolute;
    z-index: -1;
    transition-duration: 200ms;
}

.classes-pathway a:hover {
    color: var(--synergy-coral)
}

.classes-pathway a:hover + .pathway-icon {
    height: 100%;
    opacity: 16%;
}

#schedules {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#schedules h1, #schedules h3 {
    text-align: right;
}

.schedules-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#registration h3 {
    width: 70%;
    min-width: 500px;
}

.registration-button-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.registration-button-container button {
    border: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    color: var(--synergy-teal);
}

#registration a {
    text-decoration: none;
    border: none;
    padding: 12px 20px 8px 20px;
    background-color: var(--synergy-purple);
    border-radius: 15px;
    color: white;
    font-family: articulat-heavy-cf;
    width: fit-content;
    transition-duration: 200ms;
}

#registration a:hover {
    background-color: var(--synergy-coral);
}