@import url('./Global.css');

.classes, .classes-descriptions {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.classes-at-synergy, #schedules, #registration {
    height: fit-content;
    padding-bottom: 200px;
}

#schedules, #registration {
    padding-top: 50px;
}

.classes h1 {
    width: fit-content;
    font-size: 100px;
    line-height: 100px;
    font-weight: 200;
    color: var(--synergy-teal);
    margin: 0;
}

.classes h3 {
    width: 100%;
    font-weight: 500;
    color: var(--synergy-teal);
    font-size: 24px;
    line-height: 38px;
    border-top: 2px solid var(--synergy-teal);
    padding-top: 30px;
}

.pathways-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.classes-pathway {
    width: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#schedules .classes-pathway {
    width: 40%;
}

.classes-pathway a {
    text-decoration: none;
    color: var(--synergy-purple);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pathways-container h2 {
    margin: 0 0 5px 0;
    width: fit-content;
    font-family: articulat-heavy-cf;
    font-size: 60px;
    line-height: 60px;
    transition: 200ms;
}

.schedules-container h2 {
    margin: 0;
    font-family: articulat-heavy-cf;
    font-size: 60px;
    line-height: 60px;
    transition: 200ms;
}

.classes-pathway p {
    margin: 0;
    font-size: 24px;
    line-height: 30px;
}

.pathways-container p {
    width: 80%;
}

.pathway-icon {
    width: 100%;
    height: 80%;
    opacity: 5%;
    position: absolute;
    z-index: -1;
    transition-duration: 200ms;
}

.classes-pathway a:hover {
    color: var(--synergy-coral)
}

.classes-pathway a:hover + .pathway-icon {
    height: 100%;
    opacity: 16%;
}

#schedules {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#schedules h1, #schedules h3 {
    text-align: right;
}

.schedules-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 30px;
    text-align: right;
}

.classes-descriptions, .class-description-container {
    width: 100%;
}

.classes-descriptions h1 {
    font-weight: 200;
    font-size: 90px;
    line-height: 90px;
    margin: 0 0 30px 0;
    color: var(--synergy-teal)
}

.class-description-container img {
    width: 35%;
    display: block;
}

.class-description-container .header {
    color: var(--synergy-purple);
    width: 100%;
    border-top: 2px solid var(--synergy-purple);
}

.class-description-container .header .blurb {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    height: fit-content;
}

.class-description-container .header img {
    width: 48%;
}

.class-description-container .header h2 {
    font-weight: 800;
    font-size: 50px;
    margin: 30px 0 20px 0;
}

.class-description-container .header p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    width: 48%;
    margin: 0;
}

.class-description-container .description {
    color: var(--synergy-coral);
    width: 100%;
    border-top: 2px solid var(--synergy-coral);
    padding-top: 30px;
    margin-bottom: 30px;
}

.class-description-container .title-and-age {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.class-description-container .title-and-age h3 {
    margin: 0;
    font-weight: 800;
    font-size: 30px;
}

.class-description-container .title-and-age h4 {
    margin: 0;
    font-weight: 800;
    font-size: 20px;
    min-width: fit-content;
}

.class-description-container .description p {
    font-size: 18px;
    line-height: 28px;
}

/** */
@media screen and (max-width: 900px) {
    .pathways-container, .schedules-container {
        flex-direction: column;
        align-items: center;
        max-width: 600px;
        margin: 0;
    }

    .classes-pathway {
        width: 100%;
        height: fit-content;
        margin: 20px 0;
    }

    #schedules .classes-pathway {
        width: 100%;
        justify-content: right;
    }

    .schedules-container {
        width: fit-content;
    }

    .classes-pathway p {
        width: 100%;
        max-width: 400px;
    }

    .classes .container {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 720px) {
    .classes h1, .classes-descriptions h1 {
        font-size: 16vw;
        line-height: 16vw;
    }

    .class-description-container .header .blurb {
        flex-direction: column;
    }
    
    .class-description-container .header img {
        width: 100%;
        margin-bottom: 30px;
    }
    
    .class-description-container .header p {
        width: 100%;
    }
}